{% include header.html %}
<script type="text/javascript">
window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=629844663770737&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            {% include sidebar.html %}
        </div>
        <div class="col-md-9">
          <div class="article">
            <div class="well">
                <h1><a href="{{ site.baseurl}}{{ page.url }}">{{ page.date | date: "%b %-d, %Y" }} - {{ page.title }}</a></h1>
            {% if site.comments == true and page.comments == true and site.disqus != '' %}
                <p class="author"><a href="#disqus_thread">Comments</a></p>
            {% endif %}
            <div class="post-content">
            {{ content }}
            </div>

<!-- social -->
<span style="line-height:40px">
	<div class="fb-like" data-href="{{ url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>  
	<br>
	<a class="twitter-share-button" href="{{ url }}" data-text="{{ page.title }}">Tweet</a>
</span>

<!-- tags -->
<h4>Tags: {{ page.tags | join: ' , ' }}</h4>

            {% if page.comments %}
            <div id="disqus_thread">
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </div>
            {% endif %}
            </div>
          </div>

          <div class="pagination">
              {% if page.next %}
                <a class="btn btn-default" href="{{ site.baseurl}}{{ page.next.url }}" class="next">Newer Post</a>
              {% endif %}
              {% if page.previous %}
                <a class="btn btn-default" href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">Older Post</a>
              {% endif %}
</div>

        </div>
    </div>
</div>

{% include disqus-comments.html %}
{% include footer.html %}
